:root{
    --mainColor: #330000;
    --secondaryColor: #531215;

    --borderColor: #0d0505;

    --mainText: #FFF;
    --secondaryText: #b1a3a3;

    --themeDotBorder: #fff;

    --previewBackground:rgba(102, 54, 54, 0.8); 
    --skillsBackground: #452525; 

    --buttonColor: #780808;
}